<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input, textarea, button{
            display:block;
            margin:10px;

        }
        textarea{
            width: 80vw;
        }
        button{
            padding: 5px;
            width: 120px;
        }
        .editor-container{
            border: solid thin whitesmoke;


        }
    </style>

</head>
<body>
<div>
    <span style="color:red;">
        Don't worry about how it looks, it will be good at the end >:-)
    </span>
    <div class="editor-container">
        <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title...">
        <textarea name="abstract" id="abstract" cols="30" rows="10" placeholder="Abstract..."></textarea>
        <button>
            Create draft
        </button>
    </form>
    </div>
</div>
</body>
</html>