{% extends 'admin/base.html' %}

{% block CONTENT %}
    <div class="row">

        <div class="col-xs-12">
            <div class="row">
                <a class="btn btn-default" href="{% url "admin:CreatePost" %}">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Create a post
                </a></div>
            <hr>
            <div class="row">
                <table class="table table-bordered table-responsive ">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Abstract</th>
                        <th>Published</th>
                        <th>Modified at</th>
                        <th>Created at</th>
                        <th>Manage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in object_list %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.abstract|truncatewords:8 }}</td>
                            <td>
                                {% if post.published %}
                                    Published
                                {% else %}
                                    Draft
                                {% endif %}
                            </td>
                            <td>
                                <span title="{{ post.created_at }}">{{ post.created_at|date }}</span>
                            </td>
                            <td>
                                <span title="{{ post.modified_at }}">{{ post.modified_at|date }}</span>

                            </td>
                            <td>
                                ...
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}